* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: 64px;
}
.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: space-between; */
}
.navbar .navbar-container .logo a img {
  width: 133px;
  cursor: pointer;
}

.navbar .navbar-container .search-bar input {
  padding: 10px 10px 10px 10px;
  width: 450px;
  margin: 25px;
}

.navbar .navbar-container .hyperlinks ul li {
  list-style: none;
  margin-right: 25px;
}

.navbar .navbar-container .sel-city select {
  border: none;
}
.navbar .navbar-container .sign-in button {
  background-color: rgb(248, 68, 100);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
