.media {
  margin-top: 5px;
  background-color: rgb(245, 245, 245);
}

.media .media-container {
  display: flex;
  justify-content: space-between;
}

.media .media-container .left .left-items {
  display: flex;
}

.media .media-container .left .left-items li {
  list-style: none;
  margin: 10px;
}

.media .media-container .left .left-items li a {
  text-decoration: none;
}

.media .media-container .right .right-items {
  display: flex;
}

.media .media-container .right .right-items li {
  list-style: none;
  margin: 10px;
}

.media .media-container .right .right-items li a {
  text-decoration: none;
}
