* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  height: 90px;
  width: 100%;
  background-color: #8da9c4;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 20%;
  text-align: center;
  align-content: center;
}

.logo p {
  font-size: 12px;
  color: white;
}

.logo img {
  width: 200px;
}

.Links {
  width: 60%;
}

.Links ul {
  display: flex;
  justify-content: space-evenly;
}

.Links ul li {
  list-style: none;
}

.Links ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #0b2545;
}
.Links ul li a:hover {
  text-decoration: none;
  font-weight: 600;
  color: #134074;
}

.btns {
  width: 20%;
  text-align: center;
}

.btns ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns ul li {
  list-style: none;
}

.btns ul li i {
  color: #0b2545;
  cursor: pointer;
}

.btns ul li i:hover {
  color: #134074;
}

.btns button {
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  background-color: #0b2545;
  border: 2px solid #0b2545;
  color: white;
  cursor: pointer;
}
.btns button:hover {
  padding: 7px 15px;
  border: none;
  border-radius: 10px;
  background-color: #8da9c4;
  border: 2px solid #0b2545;
  color: #0b2545;
  cursor: pointer;
}
