.productsDataContainer {
  width: 98%;
  min-height: 60vh; /* Prevents layout jump */
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sorting {
  width: 98%;
  margin: 10px auto;
}

.loading-text {
  font-size: 20px;
  color: #0b2545;
  text-align: center;
  width: 100%;
  padding: 40px 0;
}
